<h1>Editing person</h1>

<% form_for [@year, @person] do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @person %> |
<%= link_to 'Back', :action => 'list' %>
