<% Person.content_columns.each do |column| %>
<p>
  <b><%= column.human_name %>:</b> <%=h @person.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', [:edit,  @year, @person] %> |
<%= link_to 'Back', [@year, :people] %>
