<% form_for [@year, @finish] do |f| %>
  <%= f.error_messages %>

  <p><label for="finish_place">Place</label><br/>
  <%= f.text_field 'place'  %></p>

  <p><label for="finish_time">Time</label><br/>
  <%= f.text_field 'time'  %></p>
<% end %>
