<%= error_messages_for 'finish' %>

<!--[form:finish]-->
<p><label for="finish_place">Place</label><br/>
<%= text_field 'finish', 'place'  %></p>

<p><label for="finish_time">Time</label><br/>
<%= text_field 'finish', 'time'  %></p>
<!--[eoform:finish]-->

