<% for column in Finish.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @finish.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', [:edit, @year, @finish] %> |
<%= link_to 'Back', [@year, :finishes] %>
