<h1>Reports</h1>

<% Year.order("year DESC").each do |year| %>
  <h2><%= year %></h2>

  <table>
    <tr>
      <% %w(numbers results age_groups).each do |report| %>
        <td style="padding-right: 2em">
          <h3><%= report.humanize %></h3>

          <% year.races.each do |race| %>
            <%= link_to race, :controller => 'reports', :action => report, :id => race.id %><br>
          <% end %>

        </td>
      <% end %>
    </tr>
  </table>
<% end %>